:root {
  --text-color: #50330d;
  --secondary-color: #818d45;
  --line-color: #9a8d45;
  --max-width: 1400px;
  --title-size: 55px;
}
* {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/bg.png) no-repeat;
  background-position-x: right;
  background-color: #fefef8;
  font-family: acumin-pro, sans-serif;
  color: var(--text-color);
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
  padding-right: 15px;
}

.h1 {
  font-family: adobe-garamond-pro, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 55px;
  font-weight: 200;
  text-align: center;
}

.garamond {
  font-family: adobe-garamond-pro, sans-serif;
}

.acumin {
  font-family: acumin-pro, sans-serif;
}

h1 {
  font-size: 5rem;
}

@media (max-width: 930px) {
  h1 {
    font-size: 3rem;
  }
  body {
    width: 100%;
    background-size: 150%;
    overflow-x: hidden;
  }
}

@media (max-width: 800px) {
  body {
    background-size: 200%;
  }
}

@media (max-width: 700px) {
  body {
    background-size: 250%;
  }
}

@media (max-width: 570px) {
  body {
    background-size: 300%;
  }
}

/** Press Release **/
.section-press-release .credit {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  text-transform: uppercase;
  gap: 0.5rem;
  align-items: center;
  color: var(--credit-color);
}

.section-press-release .credit .author .name {
  font-weight: bold;
}

.section-press-release .divider {
  background-color: var(--divider-color);
  width: 1px;
  height: 0.6rem;
}